nav {
  position:fixed;
  top:0;
  width: 100%;
  display: flex;
  height: 120px;
  background-color: #4056A1;
  font-family: 'Bungee', sans-serif;
  color: #FFFFFF;
  padding: 1.5em;

}
 
.logo-write-tweet-icon { 
  display: flex;
  width: 100%;
  align-content: center;
  font-size: 1.4em;
  padding: 7px;
}

.logo {
  width: 80%;
} 

.write-tweet-icon {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.write-tweet { 
  display: flex;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;  
}

.write-tweet strong {
  margin-right: 5px;
}

.icon-dual-arrow {
  display: flex;
  justify-content: center;
  color: red;
} 

.containerOfAvatarAndName {
  display: flex;
  background-color:#e7873885;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  padding-top: 150px;
  align-items: center;
  background-image: url("../images/header-bg-45-degree-fabric-light.png");
  background-size: cover;
}

.nav-header {
  height: 500px;
  width: 100%;
 
}

.aName{
  display: flex;
  margin-top: -25px;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
 } 

@media only screen and (min-width: 1024px) {
  .containerOfAvatarAndName {
    display:flex;
    flex-direction: column;
    width:50%;
    padding-bottom: 10%;
    margin:auto;
   
  }
}